// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

.inline-block{
    display: inline-block;
}

.show-cursor{
    cursor: pointer;
}

.image-container{
    display: inline-block;
    padding: 10px;
}

.image{
    background-color: grey;
    height: 100%;
}

.dm-image{
    width: 100%;
}

.dm-pull-right{
    float: right;
}

.modal-wrapper{
  transform: translate3d(0, 0%, 0);
  @media only screen and (min-width: 768) and (min-height: 768) {
    position: absolute;
    top: calc(50% - (600/2));
    left: calc(50% - (600/2));

    width: 600;
    height: 600;
  }
}

.contentContainer {
  height: 100%;

  @media only screen and (min-width: 768) and (min-height: 768) {
  }
}
